%li{ :id => "template-#{template.id}" }
  = link_to template.name, edit_admin_manage_theme_template_path(theme, template), :class => 'open', 'data-type' => :html
  - if template.destroy?
    = link_to 'Delete', admin_manage_theme_template_path(theme, template, :format => :js), :class => 'delete'
