#pages li li {
  padding-left: 20px;
}
#homepage .item {
  background: #FFD;
  border: 1px solid #FC0;
}
#homepage .item a:link,
#homepage .item a:visited {
  font-weight: bold;
}

/* edit view */
#page-form {
  margin-right: 270px;
  padding-left: 20px;
}
