%ol.fields
  %li.textarea
    = f.label :excerpt
    .editor-container
      = f.text_area :excerpt, :class => 'editor'
  %li.textarea
    = f.label :article
    .editor-container
      = f.text_area :article, :class => 'editor'
