%li{ :class => field_class(field) }
  = label_tag field.name
  = field_tag(field, :span)
  = link_to '(Delete)', polymorphic_path([:admin, :manage, association_group(field)].flatten), :remote => true, :method => :delete
