.bundle
db/*.sqlite3*
log/*.log
tmp/**/*
.rvmrc
.rspec
*.tmproj
coverage*
*.swp
public/uploads
public/assets
public/admin
spec/app_root/public/assets
spec/app_root/public/uploads
spec/app_root/public/admin
spec/watchr.script
