/* html5 elements */
header, footer, section, aside {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  background: #333;
  color: #666;
  font: 14px/16px Helvetica, Arial, sans-serif;
  text-align: center;
  min-width: 900px;
  height: 100%;
}
fieldset {
  border: none;
}
fieldset legend {
  position: absolute;
  margin: -25px 0 0;
  padding-right: 5px;
  background: #fff;
  z-index: 2;
  font-weight: bold;
}
ul, ol {
  list-style: none;
}
p {
  margin-bottom: 20px;
}
h1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  padding: 0 20px;
  line-height: 50px;
}
#overlay h2,
#content > h2,
h2.blue-header {
  background: #e2f1f9;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 20px;
  padding: 0 20px;  
  position: relative;
}
.container {
  margin: 0 auto;
  text-align: left;
  position: relative;
}
a:link, a:visited {
  text-decoration: none;
  color: #333;
}
a:active, a:hover {
  text-decoration: underline;
}
header {
  background: #000;
  height: 100px;
}
footer p {
  padding: 20px;
  color: #AAA;
  text-align: right;
}
footer a:link,
footer a:visited {
  color: #FFF;
}
section {
  background: #FFF;
}
.notice, .failure, .success {
  font-weight: bold;
  text-align: center;
  padding: 0 40px;
  margin-bottom: 20px;
  overflow: hidden;
  line-height: 50px;
  color: #fff;
  text-shadow: #666 1px 1px 3px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.notice {
  background: #FC0;
  border: 2px solid #FC0;
}
.failure {
  background: #f99;
  border-bottom: 2px solid #f33;
}
.success {
  background: #3c3;
  border-bottom: 2px solid #0c0;
}
#settings {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
}
#settings li {
  padding: 0 10px;
  line-height: 50px;
}
#mainNav li, #settings li {
  display: inline;
}
#settings a:link, #settings a:visited {
  color: #FFF;
}
#mainNav {
  height: 50px;
  background: #198fd3;
  position: relative;
  top: 50px;
}
#mainNav ul {
  padding: 0 20px;
}
#mainNav a:link, #mainNav a:visited {
  position: relative;
  top: 10px;
}
#content {
  padding: 20px;
}
.tab:link, .tab:visited {
  display: inline-block;
  padding: 0 18px;
  line-height: 38px;
  background: #5bb4e7;
  color: #bfe6fc;
  border-radius: 10px 10px 0 0;  
  border: 2px solid #5bb4e7;
  border-bottom: none;
}
.tab-collection a.active:link,
.tab-collection a.active:visited {
  background: #FFF;
  color: #000;
  border-color: #FFF;
}
a.new:link, a.new:visited {
  padding: 10px 20px;
  background: #ebd158;
  color: #FFF;
  font-weight: bold;
  margin: 20px 0;
  display: inline-block;
}
a.new:active, a.new:hover {
  background: #ecc71b;
}

/* site selector */
.selector {
  position: relative;
  z-index: 10;
  display: inline-block;
}
.selector ul {
  display: none;
  position: absolute;
  background: #004c78;
  width: 100%;
  left: 0;
  z-index: 1;
}
.selector h2 {
  line-height: 30px;
  color: #FFF;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  z-index: 2;
  background: #0066a1;
  padding: 0 13px 0 20px;
}
.selector h2 span {
  background: url(/admin/images/site-arrow.gif) no-repeat;
  background-position: right 6px;
  display: block;
}
.selector:hover h2 span,
#template-list div.active h2 span,
#mainNav div.active h2 span {
  background-position: right -18px;
}
#template-list div.active ul,
#mainNav div.active ul {
  display: block;
}
.selector a:link, .selector a:visited {
  color: #FFF;
}
#mainNav .selector li,
.selector li {
  display: block;
  padding: 0 20px;
  line-height: 25px;
}
.open-up ul {
  bottom: -20px;
  border-radius: 20px;
  padding: 10px 0 40px;
}
#site-selector ul,
.open-down ul {
  top: 0;
  border-radius: 20px;
  padding: 30px 0 20px;
}
#site-selector {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 160px;
}

#content input[type=text],
#overlay input[type=text],

#content input[type=password],
#overlay input[type=password],

#content textarea, span.textarea, .input, .asset {
  font: 14px/16px Helvetica, Arial, sans-serif;
  padding: 2px 4px;
  border: 1px inset #CCC;
  width: 75%;
  display: inline-block;
  height: 20px;
}
#content textarea, span.textarea {
  height: 200px;
}
span.textara {
  margin-left: 124px;
}
#content .editor-container textarea {
  width: 99%; /* cant be 100% because it has padding */
  margin-left: 0;
}
.editor-container {
  width: 75%;
}
.indent {
  margin-left: 120px;
}
.with-legend {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  width: 75%;
}
.asset {
  width: 30%;
}
.large-title .input,
#overlay .large-title input,
#content .large-title input {
  font-size: 24px;
  line-height: 24px;
  height: 24px;
}
.large-title label {
  font-size: 24px;
  font-weight: normal;
}
.large-title label,
.fields label {
  display: inline-block;
  width: 120px;
}
fieldset .fields label {
  display: block;
  width: 300px;
}
#content fieldset .fields input,
#overlay fieldset .fields input {
  width: 480px;
}
#overlay input[type=text],
#overlay input[type=password] {
  width: 360px;
}
.checkbox {
  padding-left: 124px;
}
.actions {
  text-align: right;
}
.action-buttons {
  width: 75%;
  margin-left: 124px;
}
#overlay .actions,
#content .actions {
  line-height: 50px;
}
.note {
  font-size: 11px;
  color: #999;
}
.fields li.textarea label {
  position: absolute;
  top: 10px;
}
.fields li.textarea .editor-container,
.fields li.textarea span.textarea {
  margin-left: 124px;
}
.fields li {
  position: relative;
  margin-top: 5px;
  background: #fff;
}
.alt {
  background: #f7f7f7;
}

/* overlay windows */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
#overlay-window {
  border: 2px solid #198FD3;
  background: #FFF;
  width: 500px;
  text-align: left;
  padding: 20px;
  margin: 150px auto;
  -webkit-box-shadow: 0 0 15px #555;
}
#overlay .error {
  border-color: #F33;
  background: #FEE;
}
#overlay .error h2 {
  background: #FBB;
}
#overlay fieldset .fields {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}
.try-again {
  text-align: center;
}
.cancel:link, .cancel:visited {
  color: #9c0a0a;
  margin-right: 20px;
}

/* item index */
.item {
  position: relative;
  line-height: 40px;
  padding: 0 10px;
}
.item .actions {
  position: absolute;
  right: 10px;
  top: 0;
}
.item .selector {
  width: 120px;
}

/* side bar */
aside {
  float: right;
  width: 250px;
  height: 100%;
  background: #FFF;
}
#content aside h2 {
  font-size: 14px;
  cursor: pointer;
}
aside ul {
  margin-bottom: 20px;
}
aside li {
  position: relative;
  margin-bottom: 5px;
  padding: 0 20px;
}

/* extras */
.clear {
  clear: both;
}
