#pages li li {
  padding-left: 20px;
}
#pages .placeholder {
  height: 40px;
}
#homepage .item {
  background: #FFD;
  border: 1px solid #FC0;
}
#homepage .item a:link,
#homepage .item a:visited {
  font-weight: bold;
}
/* edit view */
#page-form {
  margin-right: 270px;
  padding-left: 20px;
}
#permalink {
  padding-left: 124px;
  line-height: 30px;
  margin-bottom: 0;
}
#content #permalink input {
  display: none;
}
#content p.edit input#page_slug {
  display: inline;
  width: 100px;
}
#content p.edit span#permalink-slug {
  display: none;
}
#edit-permalink:link,
#edit-permalink:visited {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
}
#template-set-selector {
  display: none;
}
