aside .delete:link,
aside .delete:visited {
  position: absolute;
  top: 0;
  right: 10px;
}
#tabs {
  position: relative;
  border-bottom: 2px solid #5BB4E7;
  margin-right: 270px;
  height: 38px;
}
.toggle-content li,
#tabs li {
  display: inline-block;
}
#tabs li {
  margin-right: 5px;
  position: relative;
}
#tabs .tab:link,
#tabs .tab:visited {
  padding-left: 40px;
}
#tabs .close:link,
#tabs .close:visited {
  display: block;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: #198FD3;
  overflow: hidden;
  text-indent: -999px;
}
#tabs a.active:link,
#tabs a.active:visited,
.toggle-content a.active:link,
.toggle-content a.active:visited {
  border-color: #5BB4E7;
}
#template-content {
  padding: 20px;
  margin-right: 270px;
}
#template-content > li {
  display: none;
}
#template-content > li.active {
  display: block;
}
.toggle-content {
  border-top: 2px solid #5BB4E7;
  text-align: right;
}
.bottom:link, .bottom:visited {
  border-radius: 0 0 10px 10px;
  border: 2px solid #5bb4e7;
  border-top: none;
  position: relative;
  bottom: 2px;
}
.form-content, .code-content {
  display: none;
}
.form-active .form-content,
.code-active .code-content {
  display: block;
}
#content .code-content textarea {
  height: 500px;
}
.fields .placeholder {
  height: 25px;
}
#new-template {
  position: relative;
  height: 30px;
}
#side-bar .selector {
  position: absolute;
  right: 0;
  bottom: 0;
}
#new-template-selector {
  width: 160px;
}
.buttons {
  position: absolute;
  top: 0;
  right: 0;
}
