%li{ :id => "user-#{user.id}", :class => 'item' }
  = link_to user.name, edit_admin_manage_user_path(user)
  .actions
    = link_to 'Edit User', edit_admin_manage_user_path(user)
    - if User.count > 1
      |
      = link_to 'Delete User', admin_manage_user_path(user, :format => :js), :class => :delete
