.selector{ :id => defined?(id) ? id : nil, :class => defined?(open_direction) ? "open-#{open_direction}" : 'open-down' }
  %h2
    %span= name
  %ul
    - if defined?(collection)
      - collection.each do |item|
        %li= item
