.selector{ :id => defined?(id) ? id : nil, :class => defined?(open_direction) ? "open-#{open_direction}" : 'open-down' }
  %h2.toggle-sibling
    %span= name
  - if defined?(selector_collection)
    %ul
      - selector_collection.each do |item|
        %li= item
