%li{ :id => "site-#{site.id}", :class => cycle('item', 'item alt') }
  = link_to site.name, edit_admin_manage_site_path(site), :remote => true, :method => :get, 'data-type' => :html
  .actions
    - unless current_site == site
      = link_to 'Delete Site', admin_manage_site_path(site, :format => :js), :class => :delete
      |
    = link_to 'Edit Site', edit_admin_manage_site_path(site), :remote => true, :method => :get, 'data-type' => :html
